.play {
    text-align: center;
    /* padding-top: 16%; */
    font-size: 28px;
    text-transform: uppercase;
    position: absolute;
    margin-top: 6%;
    color: #ff5155;
    margin-left: 6%;
}
.play:hover {
    cursor: pointer;
}
.start-game {
    font-family: 'Lato', sans-serif;
    margin-left: 10px;
}
.errorMessage {
    color: #ff5155;
    line-height: 2.0;
    margin-bottom: 15px;
}

@media only screen and (min-width: 320px) and (max-width: 425px) { 
    .play {
        margin-top: 25%;
    }
}

@media only screen and (min-width: 426px) and (max-width: 768px){ 

}

@media only screen and (min-width: 769px) and (max-width: 1024px){ 
    .play {
        margin-top: 12%;
        margin-left: 13%;
    }
}

@media only screen and (min-width: 992px){ 
    
}

