#layout {
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(54, 117, 136, 0.8)),url('../../asssets/Group\ 243.svg');
    
    /* background-image: linear-gradient(to bottom, #000000 0%, #0c2c25),url('../../asssets/Group\ 243.svg'); */
    background-size: cover;
    /* width: var(--app-width);;
    height: var(--app-height);; */
    /* height: 100vh;  */
    /* Fallback for browsers that do not support Custom Properties */
    /* height: calc(var(--vh, 1vh) * var(--vh)); */
    /* min-height: -webkit-fill-available; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 100%;
}